
<% if @authorized %>

	<h3>Login (trin 2 af 2)</h3>
<p>
	Log ind for at se og uploade billeder fra brylluppet. Hvis du har en Facebook eller Google konto kan du logge ind med den, og ellers kan du oprette dig nedenfor.
</p>
<p>
        <%= link_to image_tag("google_apps_64.png", size: "64x64", alt: "Google") + " Log ind med Google", "/auth/google_oauth2" %>
<p>		
		
<p>		
		<%= link_to image_tag("facebook_64.png", size: "64x64", alt: "Facebook") + " Log ind med Facebook", "/auth/facebook" %>
</p>

<p>
  <strong>Har du ikke Facebook eller Google login?</strong>
  <%= link_to "Opret en konto", new_identity_path %> eller log ind nedenfor.
</p>

<%= form_tag "/auth/identity/callback" do %>
  <div class="form-group">
    <%= label_tag :auth_key, "Email", class: "control-label" %><br>
    <%= text_field_tag :auth_key, nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password, nil, class: "control-label" %><br>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>
  <button type="submit" class="btn btn-default btn-success">Log ind</button>
<% end %>


<% else %>
	<h3>Gæstekode (trin 1 af 2)</h3>
			<% if @message %>
			<div class="alert alert-danger" role="alert"><%= @message %></div>
			<% end %>
			<form role="form">
				 <div class="form-group <%= 'has-error' if @message %>">
				    <label class="control-label" for="code">Kode</label>
				    <input type="password" class="form-control" id="code" name="code" placeholder="">
    				<p class="help-block">Indtast den kode du har fået af Erik og Ebba for at komme videre</p>
				 </div>		

				  <button type="submit" class="btn btn-default btn-success">Videre</button>
			</form>
	
<% end %>