
<h3>Login</h3>

<p>
	<%= t :login_explanation %>
	
</p>

<% if flash[:alert] %>
<div class="alert alert-danger" role="alert"><%= flash[:alert] %></div>
<% end %>


<p>
        <%= link_to image_tag("google_apps_64.png", size: "64x64", alt: "Google") + " " + t(:login_with_google), "/auth/google_oauth2" %>
<p>		
		
<p>		
		<%= link_to image_tag("facebook_64.png", size: "64x64", alt: "Facebook") + " " + t(:login_with_facebook), "/auth/facebook" %>
</p>

<p>
	
  <strong><%= t :login_dont_have_fb_or_g %></strong>
  <%= link_to t(:create_account), new_identity_path %> <%=t :or_login_below %>.
</p>


<%= form_tag "/auth/identity/callback" do %>
  <div class="form-group">
    <%= label_tag :auth_key, "Email", class: "control-label" %><br>
    <%= email_field_tag :auth_key, nil, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :password, nil, class: "control-label" %><br>
    <%= password_field_tag :password, nil, class: "form-control" %>
  </div>
  <button type="submit" class="btn btn-default btn-success">Log ind</button>
<% end %>


