
<% content_for :header_left do %>
<!--
		<li>
			<%= link_to new_album_path  do %>
				<span class="glyphicon glyphicon-plus"></span> Nyt album
			<% end %>
		</li>
-->
<% end %>

<p class="lead">Hvis I selv har taget nogle gode billeder, vil vi blive rigtigt glade hvis I uploadede dem!</p>

<br/>

    <% @albums.each do |album| %>
	
		<div class="album">
			<div class="image">
				<% unless album.photos.empty? -%>
					<%= link_to( image_tag( album.cover_photo.image_file.thumb_square.url, :class => "img-responsive img-rounded" ), album) %>
				<% else -%>
					<%= link_to( image_tag("placeholder_small.jpg", :class => "img-responsive img-rounded", :style => "width:240px; height:240px;"), album, :class => "pull-left") %>
				<% end -%>
		  </div>
		  <div class="details">
				<h3 class="media-heading"><%= link_to album.title, album %></h3>
				<p class="lead"><%= album.description %></p>
		  </div>
		</div>	
		
    <% end %>
