
<% content_for :header_left do %>
<!--
		<li>
			<%= link_to new_album_path  do %>
				<span class="glyphicon glyphicon-plus"></span> Nyt album
			<% end %>
		</li>
-->
<% end %>

<div class="panel panel-default" >
	<div class="panel-body">
		<strong><%=t :hi %> <%= current_user.name.split[0] %>!</strong> <%=t :we_hope_you_will_upload %> 
	</div>
</div>


<div id="album-container">
    <% @albums.each do |album| %>
	
		<div class="album">
			<div class="image">
				<% unless album.photos.empty? -%>
					<%= link_to( image_tag( album.cover_photo.image_file.thumb_square.url, :class => "img-responsive" ), album) %>
				<% else -%>
					<%= link_to( image_tag("placeholder.jpg", :class => "img-responsive "), album, :class => "pull-left") %>
				<% end -%>
		  </div>
			  <%= link_to(album) do %>
		  <div class="details">
				<h4 class="media-heading"><%= album.title %></h4>
				<!--
				<p class="description-long" style=""><%= truncate album.description, :length => 120, :seperator => ' ' %></p>
					-->
		  </div>
			  <% end %>
		</div>	
		
    <% end %>
</div>


<% content_for :javascript do %>
<script type="text/javascript">
	
	$('#album-container').imagesLoaded()
	  .progress( function( instance, image ) {
	    var result = image.isLoaded ? 'loaded' : 'broken';
  	    //console.log( 'image is ' + result + ' for ' + image.img.src + ' with class ' + image.img.className );
		image.img.className = image.img.className + " fadeIn";
	  });
</script>
<% end %>