
<% content_for :header_left do %>
<!--
		<li>
			<%= link_to new_album_path  do %>
				<span class="glyphicon glyphicon-plus"></span> Nyt album
			<% end %>
		</li>
-->
<% end %>

<div class="alert alert-info" role="alert"><strong>Hej <%= current_user.name.split[0] %>!</strong> Vi håber du også vil uploade <i>dine</i> bedste billeder!</div>


    <% @albums.each do |album| %>
	
		<div class="album">
			<div class="image">
				<% unless album.photos.empty? -%>
					<%= link_to( image_tag( album.cover_photo.image_file.thumb_square.url, :class => "img-responsive" ), album) %>
				<% else -%>
					<%= link_to( image_tag("placeholder_small.jpg", :class => "img-responsive ", :style => "width:240px; height:240px;"), album, :class => "pull-left") %>
				<% end -%>
		  </div>
			  <%= link_to(album) do %>
		  <div class="details">
				<h4 class="media-heading"><%= album.title %></h4>
				<p class="description-long" style=""><%= truncate album.description, :length => 120, :seperator => ' ' %></p>
				<p class="description-short" style=""><%= truncate album.description, :length => 60, :seperator => ' ' %></p>
		  </div>
			  <% end %>
		</div>	
		
    <% end %>
