<%= content_for :breadcrumb do %>
	<li class="active"><%= link_to @album.title, @album %></li>
<% end %>

<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-8">
	<h1><%= @album.title %></h1>
	<p class="">
	  <%= @album.description %>
	</p>
  	
  </div>
  <div class="col-md-4">
  	
	<div class="btn-toolbar">
		<div class="btn-group btn-group-sm">
		  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		    	 <span class="glyphicon glyphicon-eye-open"></span>
				 <% if @user_filter %>
				 	<%=t :from %>: <%= @user_filter.name %>
				 <% else %>
				 	<%=t :show %>: <%=t :all %>
				 <% end %>
				<span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
			<% @album.users.each do |user| %>
				<li><a href="<%= album_path(@album, :user_id => user.id) %>"><%= user.name %></a></li>
			<% end %>
		    <li class="divider"></li>
		    <li><a href="<%= album_path(@album) %>"><%=t :show %> <%=t :all %></a></li>
		  </ul>
		</div>	
		
		<div class="btn-group btn-group-sm">
			<%= link_to album_upload_path(@album), :class => "btn btn-success" do %>
				<span class="glyphicon glyphicon-upload"></span> <%=t :upload_photos %>
			<% end %> 
		</div>
		<!--
		<div class="btn-group btn-group-sm">
			<%= link_to 'Edit', edit_album_path(@album), :class => "btn btn-default" %>
		</div>
		-->
	</div>
	
  </div>
</div>



<br/>


<div id="photo-container">
<% for photo in @photos do  -%><%= render partial: "photos/photo", object: photo %><% end -%>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
	$(document).ready( function() {
		initializeLightbox();
	  	resizePhotos();
	});
	
	$(window).resize(function () {
		resizePhotos();
	});
  
	$('#photo-container').imagesLoaded()
	  .progress( function( instance, image ) {
	    var result = image.isLoaded ? 'loaded' : 'broken';
  	    //console.log( 'image is ' + result + ' for ' + image.img.src + ' with class ' + image.img.className );
		image.img.className = image.img.className + " fadeIn";
	  });
	  
</script>
<% end %>