<h1>Listing photos</h1>

<table>
  <thead>
    <tr>
	  <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Album</th>
	  <th>Coverphoto?</th>
      <th>Capture time</th>
      <th>Longitude</th>
      <th>Latitude</th>
	  <th>Dimensions</th>
	  <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
		<td><%= link_to image_tag( photo.image_file.thumb_square.url ), [photo.album, photo] %></td>
        <td><%= photo.title %></td>
        <td><%= photo.description %></td>
        <td><%= photo.album_id %></td>
		<td><%= photo.use_as_cover %></td>
        <td><%= photo.capture_time %></td>
        <td><%= photo.longitude %></td>
        <td><%= photo.latitude %></td>
		<td><%= photo.width %> x <%= photo.height %></td>
		<td><%= photo.created_at %></td>
        <td><%= link_to 'Show', [photo.album, photo] %></td>
        <td><%= link_to 'Edit', edit_album_photo_path(photo.album, photo) %></td>
        <td><%= link_to 'Destroy', [photo.album, photo], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

