<!DOCTYPE html>
<html>
<head>
  <title>Ebba &amp; Erik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans'%>
  
  <%= csrf_meta_tags %>
  
  <!-- Bootstrap responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="container">

		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <%= link_to image_tag("e-e-logo-40px.png"), root_path, :class => "navbar-brand" %>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
				  
				<% if signed_in? %>
			        <li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  <span class="glyphicon glyphicon-picture"></span>
						  <% if @album %>
						  	Album: <%= @album.title %> <span class="caret"></span>
						  <% else %>
						  	Albums <span class="caret"></span>
						  <% end %>
					  </a>
			          <ul class="dropdown-menu" role="menu">
						  <% Album.all_ordered.each do |album| %>
							<li><%= link_to album.title, album %></li>
						  <% end %>
			          </ul>
			        </li>
					
					
					<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						  	<span class="glyphicon glyphicon-upload"></span> <%=t :upload_photos %> <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu" role="menu">
						<% Album.all_ordered.each do |album| %>
							<li role="presentation">
								<%= link_to album_upload_path(album), :class => "" do %>
									<%= album.title %>
								<% end %> 
							</li>		
						<% end %>
					  </ul>
					</li>	  
					
					<li>
						<%= link_to latest_path do %>
							<span class="glyphicon glyphicon-time"></span> 
							<%=t :newest_photos %>
						<% end %>
					</li>
					
					<%= yield :header_left %>
				
				<% end %>
		      </ul>
			  
			  
			  
		      <ul class="nav navbar-nav navbar-right">
				<% if current_user %>
			        <li class="dropdown">
					  
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <%= current_user.name %> <span class="caret"></span></a>
			          <ul class="dropdown-menu" role="menu">
			            <li><%= link_to t(:logout), signout_path, id: "sign_out" %></li>
			          </ul>
			        </li>
				<% else %>
					<li><%= link_to t(:login), login_path %></li>
				<% end %>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		
<div>

</div>
		

			<%= yield %>
	</div>
	
<%= yield :javascript %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6752527-8', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
