<!DOCTYPE html>
<html>
<head>
  <title>Ebba og Erik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  
  <%= csrf_meta_tags %>
  
  <!-- Bootstrap responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	
	<div class="container-fluid">


<div>
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong> (<%= current_user.id %> / <%= current_user.uid %> / <%= current_user.email %>)!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>

      <% end %>
    </div>
		
<div>

</div>
		
<!--
<ul class="nav nav-pills">
  <li class="">
				<%= link_to "Forside", albums_path %>
  </li>
</ul>
-->
<ol class="breadcrumb">
  <li><%= link_to "Albums", albums_path %></li>
  <%= yield :breadcrumb %>
</ol>

			<%= yield %>
	</div>
	
<%= yield :javascript %>

</body>
</html>
